<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.chetanyg.auth">

    <application>
        <activity
            android:name="com.chetanyg.auth.ui.login.LoginActivity"
            android:theme="@style/LoginTheme.Transparent" />
    </application>

</manifest>